<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="13d65df7141e41fcb34bb17bb729db6d" class="chart-container" style="width:1680px; height:800px;"></div>
    <script>
        var chart_13d65df7141e41fcb34bb17bb729db6d = echarts.init(
            document.getElementById('13d65df7141e41fcb34bb17bb729db6d'), 'white', {renderer: 'canvas'});
        var option_13d65df7141e41fcb34bb17bb729db6d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "connectNulls": false,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": false,
            "smooth": true,
            "clip": true,
            "step": false,
            "data": [
                [
                    "ABODE AROMA",
                    10
                ],
                [
                    "\u4e00\u53f6\u5b50 (One leaf)",
                    10
                ],
                [
                    "\u4f0a\u8bfa\u59ff (ISA KNOX)",
                    10
                ],
                [
                    "\u73ab\u7470\u4eba\u751f (ALIN DE ROSE)",
                    10
                ],
                [
                    "\u4f0a\u5948\u7f8e (illume)",
                    10
                ],
                [
                    "\u4e5d\u7f8e\u5b50 (Serkuro)",
                    10
                ],
                [
                    "\u76ae\u80a4\u533b\u751f (SkinDoctors)",
                    10
                ],
                [
                    "\u4e1d\u8299\u5170 (SEPHORA)",
                    10
                ],
                [
                    "\u4e1c\u6d0b\u4e4b\u82b1 (TAYOI)",
                    10
                ],
                [
                    "\u4e01\u5bb6\u5b9c (TJOY)",
                    10
                ],
                [
                    "that girl",
                    10
                ],
                [
                    "\u8299\u7f8e\u4f73 (FORMIGa)",
                    10
                ],
                [
                    "ibody",
                    10
                ],
                [
                    "YSL\u5723\u7f57\u5170 (YSL)",
                    10
                ],
                [
                    "\u7f8e\u5373\u9762\u819c (MG)",
                    10
                ],
                [
                    "VANCL",
                    10
                ],
                [
                    "\u808c\u80a4\u4e4b\u94a5 (CPB)",
                    10
                ],
                [
                    "\u81ea\u7136\u5802 (CHANDO)",
                    10
                ],
                [
                    "\u81ea\u7136\u7f8e (Natural Beauty)",
                    10
                ],
                [
                    "\u827e\u535a\u598d (Erborian)",
                    10
                ],
                [
                    "\u6fb3\u65b9\u6709\u673a (Organic Natralox)",
                    10
                ],
                [
                    "\u514b\u4e3d\u7f07\u5a1c (chlitina)",
                    10
                ],
                [
                    "\u6da6\u6d3b\u6781\u81f4 (dewsuperior)",
                    10
                ],
                [
                    "\u6ce2\u7f57\u5c3c\u4e9a (BORONIA)",
                    10
                ],
                [
                    "\u5c0f\u871c\u574a (Manuka bee lip care)",
                    10
                ],
                [
                    "\u5fb7\u56fd\u5c0f\u7518\u83ca (Herbacin)",
                    10
                ],
                [
                    "\u59d7\u62c9\u5a1c (SUNRANA)",
                    10
                ],
                [
                    "\u59d7\u5a1c (SANA)",
                    10
                ],
                [
                    "\u6155\u8fea (MUKTI)",
                    10
                ],
                [
                    "\u6211\u7684\u7f8e\u4e3d\u65e5\u5fd7 (my beauty diary)",
                    10
                ],
                [
                    "\u5965\u5170\u65af\u5a07 (USKINCARE)",
                    10
                ],
                [
                    "\u662d\u8d35 (aloe Zogu)",
                    10
                ],
                [
                    "\u683c\u5170\u739b\u5f17\u5170 (Glamourflage)",
                    10
                ],
                [
                    "\u68a6\u5986 (Mamonde)",
                    10
                ],
                [
                    "\u68b5\u5e0c\u9640 (MAX-MTM)",
                    10
                ],
                [
                    "\u690d\u6751\u79c0 (shu uemura)",
                    10
                ],
                [
                    "\u54c1\u6728\u4e1d\u5e8f",
                    10
                ],
                [
                    "\u6b46\u5b9d\u5a74\u513f (Simple Baby)",
                    10
                ],
                [
                    "\u6bd4\u5229\u5c71\u7f8a\u5976",
                    10
                ],
                [
                    "\u6cd5\u5c14\u66fc (valmont)",
                    10
                ],
                [
                    "\u534e\u987f",
                    10
                ],
                [
                    "\u8299\u4e3d\u82b3\u4e1d (freeplus)",
                    10
                ],
                [
                    "\u78a7\u67d4 (Biore)",
                    10
                ],
                [
                    "\u82b1\u7699\u853b (ClorisLand)",
                    10
                ],
                [
                    "\u854a\u8389\u8299 (reliever)",
                    10
                ],
                [
                    "MAKE UP FOR EVER (\u73ab\u73c2\u83f2;makeupforever;MAKEUP;MKF)",
                    10
                ],
                [
                    "\u8587\u8587\u5c14 (Vanvia)",
                    10
                ],
                [
                    "\u8d1d\u78a7\u51b0 (Babypink)",
                    10
                ],
                [
                    "\u8d5b\u7ef4 (s\u00b7a\u00b7v NATURAL)",
                    10
                ],
                [
                    "\u8d6b\u62c9 (HOLA)",
                    10
                ],
                [
                    "\u8fea\u8c46 (DIDOU)",
                    10
                ],
                [
                    "Fresh\u99a5\u857e\u8bd7 (fresh)",
                    10
                ],
                [
                    "FANCL (\u82b3\u73c2)",
                    10
                ],
                [
                    "\u90c1\u7f8e\u51c0",
                    10
                ],
                [
                    "\u963f\u8299 (AFU)",
                    10
                ],
                [
                    "\u96c5\u5475\u96c5 (AQUA)",
                    10
                ],
                [
                    "\u96ea\u679c (Snowberry)",
                    10
                ],
                [
                    "DR.WU (\u8fbe\u5c14\u80a4)",
                    10
                ],
                [
                    "\u96ea\u82b1\u79c0 (Sulwhasoo)",
                    10
                ],
                [
                    "\u9ad8\u4e1d\u845b\u4f26\u9edb\u5a1c (KOSE GRANDAINE)",
                    10
                ],
                [
                    "\u9ad8\u4e1d\u8d1d\u7f14\u96c5 (KOSE Predia)",
                    10
                ],
                [
                    "BOSS (HUGOBOSS)",
                    10
                ],
                [
                    "\u8587\u7f57\u5c3c\u5361",
                    10
                ],
                [
                    "\u8d44\u751f\u5802 (SHISEIDO)",
                    10
                ],
                [
                    "\u5b89\u5229 (Amway)",
                    10
                ],
                [
                    "POLA (pola)",
                    10
                ],
                [
                    "\u82b3\u8349\u96c6 (Arboreal)",
                    10
                ],
                [
                    "SK-II (SK-II)",
                    10
                ],
                [
                    "\u831c\u7d20\u65af (SANS SOUCIS)",
                    10
                ],
                [
                    "\u8335\u83f2\u59ae (INFINITY)",
                    10
                ],
                [
                    "\u6b27\u654f\u80a4 (DERMINA)",
                    9
                ],
                [
                    "GUCCI (\u53e4\u9a70)",
                    9
                ],
                [
                    "\u4e00\u6735 (ito)",
                    9
                ],
                [
                    "\u6b4c\u4e3d\u8bd7 (COLLISTAR)",
                    9
                ],
                [
                    "PURE&MILD \u6cca\u7f8e (PURE&MILD \u6cca\u7f8e)",
                    9
                ],
                [
                    "\u6b27\u8bd7\u987f (occitown)",
                    9
                ],
                [
                    "\u54f2\u00b7\u78a7\u5361\u72c4 (Z. Bigatti)",
                    9
                ],
                [
                    "\u675c\u82e5 (Life-flo)",
                    9
                ],
                [
                    "\u559c\u871c (Heme)",
                    9
                ],
                [
                    "\u8349\u6728\u5e74\u534e (Herbelle)",
                    9
                ],
                [
                    "\u51ef\u5a1c\u8bd7 (Kinerase)",
                    9
                ],
                [
                    "\u80a4\u81b3\u574a (\u80a4\u81b3\u574a)",
                    9
                ],
                [
                    "\u99a5\u7eff\u5fb7\u96c5 (RENE FURTERER)",
                    9
                ],
                [
                    "\u601d\u4eb2\u80a4 (SKIN FOOD)",
                    9
                ],
                [
                    "\u9ed1\u73cd\u73e0 (blackpearl)",
                    9
                ],
                [
                    "\u5a1c\u838e\u8fea (J.F.lazartigue)",
                    9
                ],
                [
                    "\u6cd5\u62c9\u5229 (Ferrari)",
                    9
                ],
                [
                    "\u8574\u5999 (ecomom)",
                    9
                ],
                [
                    "\u4fca\u58eb (JS)",
                    9
                ],
                [
                    "\u73c2\u8bfa\u8bd7 (KORRES)",
                    9
                ],
                [
                    "Janesce\u7504\u65ce\u8bd7 (Janesce)",
                    9
                ],
                [
                    "JUJU",
                    9
                ],
                [
                    "\u6cf0\u4ed5\u53ef (TASK)",
                    9
                ],
                [
                    "\u83f2\u62c9\u683c\u6155 (Ferragamo)",
                    9
                ],
                [
                    "\u771f\u767e\u4ee3 (ESENS)",
                    9
                ],
                [
                    "\u4f5b\u7f57\u6d6a\u4e1d (Prorance)",
                    9
                ],
                [
                    "\u4f73\u6d01\u58eb (Crest)",
                    9
                ],
                [
                    "\u767e\u5206\u767e (sh)",
                    9
                ],
                [
                    "\u4e39\u82ad\u78a7 (tobaby)",
                    9
                ],
                [
                    "\u6ecb\u513f\u4e50 (cierle)",
                    9
                ],
                [
                    "\u777f\u59ff\u4e3d (CreBeau)",
                    9
                ],
                [
                    "\u5170\u4fac (Lanocreme)",
                    9
                ],
                [
                    "\u5170\u5609\u4e1d\u6c40 (LANCASTER)",
                    9
                ],
                [
                    "\u51e1\u58eb\u6797 (Vaseline)",
                    9
                ],
                [
                    "\u5c01\u9762\u5973\u90ce (COVER GIRL)",
                    8
                ],
                [
                    "\u5b8c\u7f8e (P.PERFECT)",
                    8
                ],
                [
                    "\u83f2\u5948\u8bd7 (FINESSE)",
                    8
                ],
                [
                    "\u7956\u00b7\u739b\u73d1 (Jo Malone London)",
                    8
                ],
                [
                    "\u8d1e\u91c7\u6e90 (Skin healthy)",
                    8
                ],
                [
                    "\u9890\u83b2 (Rellet)",
                    8
                ],
                [
                    "\u5b89\u5b89 (anan)",
                    8
                ],
                [
                    "\u7fbd\u897f (YUE SAI)",
                    8
                ],
                [
                    "\u838e\u8389\u6c49\u8bd7 (Sally Hansen)",
                    8
                ],
                [
                    "\u7f8e\u4f53\u5c0f\u94fa (THE BODY SHOP)",
                    8
                ],
                [
                    "\u7ef4\u808c\u6cc9 (SkinVitals)",
                    8
                ],
                [
                    "\u82b3\u7a0b\u5f0f (BF Aromatherapy)",
                    8
                ],
                [
                    "\u79d1\u4e1d\u83b1 (cosline)",
                    8
                ],
                [
                    "\u6c14\u5473\u56fe\u4e66\u9986 (demeter)",
                    8
                ],
                [
                    "\u8da3\u4e50\u6d3b (Trilogy)",
                    8
                ],
                [
                    "\u9edb\u73c2 (COSME DECORTE)",
                    8
                ],
                [
                    "\u4ea8\u6c0f (Heinz)",
                    8
                ],
                [
                    "GOODSKIN LABS",
                    8
                ],
                [
                    "\u529b\u58eb (LUX)",
                    8
                ],
                [
                    "IGNIS (ignis)",
                    8
                ],
                [
                    "\u5b55\u4e3d\u5b9d (Motherralm)",
                    8
                ],
                [
                    "EFU (efu)",
                    8
                ],
                [
                    "\u5929\u4f7f\u4e3d\u4eba (AGEL)",
                    8
                ],
                [
                    "\u7d22\u8299\u7279 (SOFTTO)",
                    7
                ],
                [
                    "\u57ce\u91ce\u533b\u751f (Dr.Ci:Labo)",
                    7
                ],
                [
                    "\u679c\u6f3e\u7f8e\u4eba (Juice Beauty)",
                    7
                ],
                [
                    "\u67cf\u59ff (Payot)",
                    7
                ],
                [
                    "\u82ac\u8fea (FENDI)",
                    7
                ],
                [
                    "\u827e\u831c\u51ef (A.C.CARE)",
                    7
                ],
                [
                    "\u8272\u5f69\u5730\u5e26 (Colour Zone)",
                    7
                ],
                [
                    "\u7f8e\u52a0\u51c0 (maxam)",
                    7
                ],
                [
                    "TRINITYLINE",
                    7
                ],
                [
                    "\u7f8e\u7231\u65af (MEIAISI)",
                    7
                ],
                [
                    "\u6d3b\u4e4b\u80a4 (Lifecella)",
                    7
                ],
                [
                    "\u4e3d\u857e\u514b (LIERAC)",
                    7
                ],
                [
                    "\u6ee1\u5a77 (manting)",
                    7
                ],
                [
                    "\u7531\u4f60 (UP2U)",
                    7
                ],
                [
                    "\u6770\u58eb\u6d3e (Gatsby)",
                    7
                ],
                [
                    "\u73c2\u83b1\u6b27 (CLIO)",
                    7
                ],
                [
                    "CF\u836f\u5986 (cdefarma)",
                    7
                ],
                [
                    "\u60f9\u604b (Relian)",
                    7
                ],
                [
                    "MOR",
                    7
                ],
                [
                    "\u83f2\u4e3d\u6d01 (Forlisa)",
                    7
                ],
                [
                    "\u8c22\u99a5\u6625 (XIEFUCHUN)",
                    7
                ],
                [
                    "\u5c24\u7699 (Ultraceuticals)",
                    7
                ],
                [
                    "\u4f36\u91c7 (leenchie)",
                    6
                ],
                [
                    "\u767d\u5927\u592b (Doctor Bai)",
                    6
                ],
                [
                    "\u5bab\u706f",
                    6
                ],
                [
                    "\u59ff\u8bed (Gussee)",
                    6
                ],
                [
                    "\u96ea\u80a4\u83b1",
                    6
                ],
                [
                    "\u6b4c\u8bd7\u7f8e (Cosmay)",
                    6
                ],
                [
                    "\u6d77\u8574 (naturalseabeauty)",
                    6
                ],
                [
                    "Jean Paul Gaultier (\u9ad8\u7f07\u8036)",
                    6
                ],
                [
                    "\u51ef\u4f0a\u79c0 (Bio-essence)",
                    6
                ],
                [
                    "\u751f\u547d\u9633\u5149 (SUNLIFE)",
                    6
                ],
                [
                    "\u73cd\u7231 (Jane Iredale)",
                    6
                ],
                [
                    "\u4e3d\u7eaf (P&B)",
                    6
                ],
                [
                    "\u53ef\u4e1c\u7231\u897f (KOAI)",
                    6
                ],
                [
                    "\u4ed9\u4e3d\u65bd (Cellex-C)",
                    6
                ],
                [
                    "Zegna (Ermenegildo Zegna)",
                    6
                ],
                [
                    "\u7c89\u7c89\u9999",
                    6
                ],
                [
                    "\u6b4c\u5b9d\u5a77 (Cabotine)",
                    6
                ],
                [
                    "\u82cf\u83f2\u5a1c (SOFINA)",
                    6
                ],
                [
                    "\u83ab\u65af\u5947\u8bfa (Moschino)",
                    6
                ],
                [
                    "\u65af\u7279\u62c9\u9ea6\u5361\u6258\u5c3c (Stella McCartney)",
                    6
                ],
                [
                    "Fruit of the earth",
                    6
                ],
                [
                    "\u67cf\u5eb7\u6735 (Becado)",
                    6
                ],
                [
                    "\u8fd1\u6c5f\u5144\u5f1f (OMI)",
                    6
                ],
                [
                    "SkinDoctors",
                    6
                ],
                [
                    "\u81fb\u6c34 (DDF)",
                    6
                ],
                [
                    "TONYMOLY (tonymoly)",
                    6
                ],
                [
                    "\u7f8e\u8c1b\u9ad8\u4e1d (BEAUTE de KOSE)",
                    6
                ],
                [
                    "\u8349\u6728\u826f\u54c1 (Natural Selected)",
                    5
                ],
                [
                    "\u7d22\u5c3c\u4e9a\u00b7\u91cc\u57fa\u5c14 (\u7d22\u5c3c\u4e9a\u00b7\u91cc\u57fa\u5c14)",
                    5
                ],
                [
                    "\u81ea\u7136\u54f2\u7406 (philosophy)",
                    5
                ],
                [
                    "\u8d1d\u7eb3\u901a (Benetton)",
                    5
                ],
                [
                    "REVERSA",
                    5
                ],
                [
                    "Tarte (Tarte)",
                    5
                ],
                [
                    "PAUL & JOE (PAUL & JOE)",
                    5
                ],
                [
                    "label.m",
                    5
                ],
                [
                    "O.P.I (opi)",
                    5
                ],
                [
                    "\u4f0a\u838e\u73c2\u4e1d (Esanssy)",
                    5
                ],
                [
                    "J.Del Pozo",
                    5
                ],
                [
                    "\u7247\u4ed4\u7640 (PIEN TZE HUANG)",
                    5
                ],
                [
                    "\u5496\u5566\u5496\u5566 (kalakala)",
                    5
                ],
                [
                    "\u5a1c\u8fea\u5965 (nadio)",
                    5
                ],
                [
                    "\u5e15\u4e3d\u65af\u00b7\u5e0c\u5c14\u987f (Paris Hilton)",
                    5
                ],
                [
                    "AYURA (AYURA)",
                    5
                ],
                [
                    "\u59ff\u4eba (Coreana)",
                    5
                ],
                [
                    "\u5976\u5976\u7684\u767e\u8349\u5802",
                    5
                ],
                [
                    "\u67cf\u7eb7 (payven)",
                    5
                ],
                [
                    "Cyber Colors",
                    5
                ],
                [
                    "\u6b27\u679c (OTAGO)",
                    5
                ],
                [
                    "\u590f\u5a01\u5937\u70ed\u5e26 (HAWAIIAN Tropic)",
                    5
                ],
                [
                    "\u6fb3\u7f57\u739b.\u6c40 (AROMA KINGDOM)",
                    5
                ],
                [
                    "\u74e6\u4f26\u897f\u4e9a\u59ec\u5965 (Valencia Gio)",
                    4
                ],
                [
                    "\u6e29\u96c5 (YOUNGRACE)",
                    4
                ],
                [
                    "SKIN DOCTORS",
                    4
                ],
                [
                    "\u661f\u671f\u56db\u519c\u5e84 (Thursday Plantation)",
                    4
                ],
                [
                    "CYCLAX (cyclax)",
                    4
                ],
                [
                    "ROC (roc)",
                    4
                ],
                [
                    "\u963f\u5440\u5440 (Ayaya)",
                    4
                ],
                [
                    "\u604b\u7231\u9b54\u955c (Majolica Majorca)",
                    4
                ],
                [
                    "\u690d\u7269\u5de5\u574a (Plant Workshop)",
                    4
                ],
                [
                    "\u552f\u7f8e\u65bd\u7ef4\u4e9a (wmswy)",
                    4
                ],
                [
                    "Too Faced (Too Faced)",
                    4
                ],
                [
                    "REN",
                    4
                ],
                [
                    "\u83f2\u7490\u6cfd (Ferzea)",
                    4
                ],
                [
                    "SOFINA\u82cf\u83f2\u5a1c (SOFINA)",
                    4
                ],
                [
                    "\u8bfa\u8587\u96c5 (NOEVIR)",
                    4
                ],
                [
                    "ZENSATION",
                    4
                ],
                [
                    "\u4e39\u5824 (DDlady)",
                    4
                ],
                [
                    "\u7231\u742a\u7f8e (Academie)",
                    4
                ],
                [
                    "\u53ef\u8d1d\u5c14 (cobor)",
                    4
                ],
                [
                    "\u5e78\u798f\u83f2\u96c5 (Hellofaye)",
                    4
                ],
                [
                    "\u73cd\u78a7\u5609 (Methode Jeanne Piaubert)",
                    3
                ],
                [
                    "Botani (Botani)",
                    3
                ],
                [
                    "\u62a4\u857e (Ducray)",
                    3
                ],
                [
                    "\u9ad8\u59ff (COGI)",
                    3
                ],
                [
                    "\u8427\u90a6 (Chopard)",
                    3
                ],
                [
                    "\u9ad8\u67cf\u8bd7 (gopas)",
                    3
                ],
                [
                    "\u871c\u989c\u8bd7 (Miessence)",
                    3
                ],
                [
                    "\u5e7f\u5fb7\u5802 (GUANGDETANG)",
                    3
                ],
                [
                    "\u745e\u58eb\u6d3b\u6cc9 (VAQUA)",
                    3
                ],
                [
                    "Herome",
                    3
                ],
                [
                    "\u5fb7\u7f8e\u4e50\u5609",
                    3
                ],
                [
                    "Sisidyll",
                    3
                ],
                [
                    "In Fiore",
                    3
                ],
                [
                    "\u51b7\u9178\u7075 (lesening)",
                    3
                ],
                [
                    "\u96ea\u8389\u6d3e\u601d (shirleyprice)",
                    3
                ],
                [
                    "\u90d1\u660e\u660e (cheng mingming)",
                    3
                ],
                [
                    "Sukin",
                    3
                ],
                [
                    "\u827e\u871c\u5854 (Apivita)",
                    3
                ],
                [
                    "TONI&GUY",
                    3
                ],
                [
                    "\u827e\u51e1\u8fbe (Aveda)",
                    3
                ],
                [
                    "\u7ef4\u857e\u5fb7 (weleda)",
                    3
                ],
                [
                    "\u57d4\u91cc\u963f\u5b37 (\u57d4\u91cc\u963f\u5b37)",
                    3
                ],
                [
                    "\u96c5\u4e3d\u838e (Arezia)",
                    3
                ],
                [
                    "\u9999\u9601\u5a1c (XIANGGENA)",
                    3
                ],
                [
                    "Essence of Beauty",
                    2
                ],
                [
                    "Vitacreme B12",
                    2
                ],
                [
                    "\u96c6\u9999\u820d (nono)",
                    2
                ],
                [
                    "\u853b\u5409 (KOJI)",
                    2
                ],
                [
                    "VDL",
                    2
                ],
                [
                    "\u57c3\u5fb7\u00b7\u54c8\u8fea (Ed Hardy)",
                    2
                ],
                [
                    "\u59ae\u5854\u8389\u96c5 (Netharria)",
                    2
                ],
                [
                    "\u6bd4\u5ea6\u514b (BeDooK)",
                    2
                ],
                [
                    "\u53ef\u6021\u672c\u8349 (keyeherbal)",
                    2
                ],
                [
                    "\u6843\u4e3d\u4e1d (Doris)",
                    2
                ],
                [
                    "\u831c\u831c\u5c14 (The Cancer Council Australia)",
                    2
                ],
                [
                    "CathyCat (cathycat)",
                    2
                ],
                [
                    "\u534e\u7eb3\u5236\u836f (WARNER HEALTH)",
                    2
                ],
                [
                    "\u5409\u7c73\u5a03\u5a03\u513f (JIMMY make up)",
                    2
                ],
                [
                    "ECOTOOLS (ECOTOOLS)",
                    1
                ],
                [
                    "\u9ad8\u4e1d\u83f2\u5e0c\u6b27 (KOSE Fasio)",
                    1
                ],
                [
                    "\u9999\u4f3c (Say it with Scent)",
                    1
                ],
                [
                    "\u8da3\u4e50 (Cherub Rubs)",
                    1
                ],
                [
                    "Embryolisse (embryolisse)",
                    1
                ],
                [
                    "\u96ef\u827e\u5c14 (Vapour)",
                    1
                ],
                [
                    "\u975e\u51e1\u7f8e (B&F)",
                    1
                ],
                [
                    "\u5b89\u9713\u53ef\u53e4\u7279\u5c14 (annickgoutal)",
                    1
                ],
                [
                    "\u8d39\u96f7 (Ferre)",
                    1
                ],
                [
                    "\u7231\u82e5\u838e (Innoxa)",
                    1
                ],
                [
                    "\u5f3a\u751f (Johnson)",
                    1
                ],
                [
                    "\u5f97\u7f8e\u65b0 (DermaNew)",
                    1
                ],
                [
                    "\u5973\u53cb (WOMAN FRIEND)",
                    1
                ],
                [
                    "\u62c9\u82b3 (LaFang)",
                    1
                ],
                [
                    "\u5948\u5965\u6bd4 (NIOBE)",
                    1
                ],
                [
                    "ALOEMASTERCARE (aloemastercare)",
                    1
                ],
                [
                    "\u67d4\u5a77 (ROUTING)",
                    1
                ],
                [
                    "\u6b27\u8499 (oputemon)",
                    1
                ],
                [
                    "\u6b27\u8d1d\u65af (Obeis)",
                    1
                ],
                [
                    "\u53cc\u59b9\u569c (Two Girls)",
                    1
                ],
                [
                    "\u50b2\u51dd\u59ec\u4e9a (illyssla)",
                    1
                ],
                [
                    "\u6fb3\u5e0c\u4e9a (OUSIA)",
                    1
                ],
                [
                    "\u6fb3\u6d32\u60a6\u4ed9\u5b50 (Luster)",
                    1
                ],
                [
                    "\u767e\u6d1b (Bioil)",
                    1
                ],
                [
                    "KOSMEA",
                    1
                ],
                [
                    "\u7956\u5609\u513f (SOKARLE)",
                    1
                ],
                [
                    "\u7ae0\u5149101",
                    1
                ],
                [
                    "\u7eff\u4e4b\u97f5 (greencharm)",
                    1
                ],
                [
                    "VII",
                    1
                ],
                [
                    "T\u900f (Title)",
                    1
                ],
                [
                    "\u81ea\u7136\u7f8e\u4eba (ZRMR)",
                    1
                ],
                [
                    "\u829d\u6069\u5e03\u838e (jeancharlesbrosseau)",
                    1
                ],
                [
                    "\u82ae\u6735\u7f24\u7eb7",
                    1
                ],
                [
                    "\u8303\u7f8e\u8482 (FOR BEAUTY)",
                    1
                ],
                [
                    "\u831c\u5c14\u73c2 (Sheer Cover)",
                    1
                ],
                [
                    "ROXY",
                    1
                ],
                [
                    "PARRS (parrs)",
                    1
                ],
                [
                    "ModelCo (modelco)",
                    1
                ],
                [
                    "\u67cf\u6c0f (pats)",
                    1
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "end",
                    "margin": 8
                },
                "data": [
                    {
                        "yAxis": 1
                    },
                    {
                        "yAxis": 2
                    },
                    {
                        "yAxis": 3
                    },
                    {
                        "yAxis": 4
                    },
                    {
                        "yAxis": 10
                    }
                ]
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "ABODE AROMA",
                "\u4e00\u53f6\u5b50 (One leaf)",
                "\u4f0a\u8bfa\u59ff (ISA KNOX)",
                "\u73ab\u7470\u4eba\u751f (ALIN DE ROSE)",
                "\u4f0a\u5948\u7f8e (illume)",
                "\u4e5d\u7f8e\u5b50 (Serkuro)",
                "\u76ae\u80a4\u533b\u751f (SkinDoctors)",
                "\u4e1d\u8299\u5170 (SEPHORA)",
                "\u4e1c\u6d0b\u4e4b\u82b1 (TAYOI)",
                "\u4e01\u5bb6\u5b9c (TJOY)",
                "that girl",
                "\u8299\u7f8e\u4f73 (FORMIGa)",
                "ibody",
                "YSL\u5723\u7f57\u5170 (YSL)",
                "\u7f8e\u5373\u9762\u819c (MG)",
                "VANCL",
                "\u808c\u80a4\u4e4b\u94a5 (CPB)",
                "\u81ea\u7136\u5802 (CHANDO)",
                "\u81ea\u7136\u7f8e (Natural Beauty)",
                "\u827e\u535a\u598d (Erborian)",
                "\u6fb3\u65b9\u6709\u673a (Organic Natralox)",
                "\u514b\u4e3d\u7f07\u5a1c (chlitina)",
                "\u6da6\u6d3b\u6781\u81f4 (dewsuperior)",
                "\u6ce2\u7f57\u5c3c\u4e9a (BORONIA)",
                "\u5c0f\u871c\u574a (Manuka bee lip care)",
                "\u5fb7\u56fd\u5c0f\u7518\u83ca (Herbacin)",
                "\u59d7\u62c9\u5a1c (SUNRANA)",
                "\u59d7\u5a1c (SANA)",
                "\u6155\u8fea (MUKTI)",
                "\u6211\u7684\u7f8e\u4e3d\u65e5\u5fd7 (my beauty diary)",
                "\u5965\u5170\u65af\u5a07 (USKINCARE)",
                "\u662d\u8d35 (aloe Zogu)",
                "\u683c\u5170\u739b\u5f17\u5170 (Glamourflage)",
                "\u68a6\u5986 (Mamonde)",
                "\u68b5\u5e0c\u9640 (MAX-MTM)",
                "\u690d\u6751\u79c0 (shu uemura)",
                "\u54c1\u6728\u4e1d\u5e8f",
                "\u6b46\u5b9d\u5a74\u513f (Simple Baby)",
                "\u6bd4\u5229\u5c71\u7f8a\u5976",
                "\u6cd5\u5c14\u66fc (valmont)",
                "\u534e\u987f",
                "\u8299\u4e3d\u82b3\u4e1d (freeplus)",
                "\u78a7\u67d4 (Biore)",
                "\u82b1\u7699\u853b (ClorisLand)",
                "\u854a\u8389\u8299 (reliever)",
                "MAKE UP FOR EVER (\u73ab\u73c2\u83f2;makeupforever;MAKEUP;MKF)",
                "\u8587\u8587\u5c14 (Vanvia)",
                "\u8d1d\u78a7\u51b0 (Babypink)",
                "\u8d5b\u7ef4 (s\u00b7a\u00b7v NATURAL)",
                "\u8d6b\u62c9 (HOLA)",
                "\u8fea\u8c46 (DIDOU)",
                "Fresh\u99a5\u857e\u8bd7 (fresh)",
                "FANCL (\u82b3\u73c2)",
                "\u90c1\u7f8e\u51c0",
                "\u963f\u8299 (AFU)",
                "\u96c5\u5475\u96c5 (AQUA)",
                "\u96ea\u679c (Snowberry)",
                "DR.WU (\u8fbe\u5c14\u80a4)",
                "\u96ea\u82b1\u79c0 (Sulwhasoo)",
                "\u9ad8\u4e1d\u845b\u4f26\u9edb\u5a1c (KOSE GRANDAINE)",
                "\u9ad8\u4e1d\u8d1d\u7f14\u96c5 (KOSE Predia)",
                "BOSS (HUGOBOSS)",
                "\u8587\u7f57\u5c3c\u5361",
                "\u8d44\u751f\u5802 (SHISEIDO)",
                "\u5b89\u5229 (Amway)",
                "POLA (pola)",
                "\u82b3\u8349\u96c6 (Arboreal)",
                "SK-II (SK-II)",
                "\u831c\u7d20\u65af (SANS SOUCIS)",
                "\u8335\u83f2\u59ae (INFINITY)",
                "\u6b27\u654f\u80a4 (DERMINA)",
                "GUCCI (\u53e4\u9a70)",
                "\u4e00\u6735 (ito)",
                "\u6b4c\u4e3d\u8bd7 (COLLISTAR)",
                "PURE&MILD \u6cca\u7f8e (PURE&MILD \u6cca\u7f8e)",
                "\u6b27\u8bd7\u987f (occitown)",
                "\u54f2\u00b7\u78a7\u5361\u72c4 (Z. Bigatti)",
                "\u675c\u82e5 (Life-flo)",
                "\u559c\u871c (Heme)",
                "\u8349\u6728\u5e74\u534e (Herbelle)",
                "\u51ef\u5a1c\u8bd7 (Kinerase)",
                "\u80a4\u81b3\u574a (\u80a4\u81b3\u574a)",
                "\u99a5\u7eff\u5fb7\u96c5 (RENE FURTERER)",
                "\u601d\u4eb2\u80a4 (SKIN FOOD)",
                "\u9ed1\u73cd\u73e0 (blackpearl)",
                "\u5a1c\u838e\u8fea (J.F.lazartigue)",
                "\u6cd5\u62c9\u5229 (Ferrari)",
                "\u8574\u5999 (ecomom)",
                "\u4fca\u58eb (JS)",
                "\u73c2\u8bfa\u8bd7 (KORRES)",
                "Janesce\u7504\u65ce\u8bd7 (Janesce)",
                "JUJU",
                "\u6cf0\u4ed5\u53ef (TASK)",
                "\u83f2\u62c9\u683c\u6155 (Ferragamo)",
                "\u771f\u767e\u4ee3 (ESENS)",
                "\u4f5b\u7f57\u6d6a\u4e1d (Prorance)",
                "\u4f73\u6d01\u58eb (Crest)",
                "\u767e\u5206\u767e (sh)",
                "\u4e39\u82ad\u78a7 (tobaby)",
                "\u6ecb\u513f\u4e50 (cierle)",
                "\u777f\u59ff\u4e3d (CreBeau)",
                "\u5170\u4fac (Lanocreme)",
                "\u5170\u5609\u4e1d\u6c40 (LANCASTER)",
                "\u51e1\u58eb\u6797 (Vaseline)",
                "\u5c01\u9762\u5973\u90ce (COVER GIRL)",
                "\u5b8c\u7f8e (P.PERFECT)",
                "\u83f2\u5948\u8bd7 (FINESSE)",
                "\u7956\u00b7\u739b\u73d1 (Jo Malone London)",
                "\u8d1e\u91c7\u6e90 (Skin healthy)",
                "\u9890\u83b2 (Rellet)",
                "\u5b89\u5b89 (anan)",
                "\u7fbd\u897f (YUE SAI)",
                "\u838e\u8389\u6c49\u8bd7 (Sally Hansen)",
                "\u7f8e\u4f53\u5c0f\u94fa (THE BODY SHOP)",
                "\u7ef4\u808c\u6cc9 (SkinVitals)",
                "\u82b3\u7a0b\u5f0f (BF Aromatherapy)",
                "\u79d1\u4e1d\u83b1 (cosline)",
                "\u6c14\u5473\u56fe\u4e66\u9986 (demeter)",
                "\u8da3\u4e50\u6d3b (Trilogy)",
                "\u9edb\u73c2 (COSME DECORTE)",
                "\u4ea8\u6c0f (Heinz)",
                "GOODSKIN LABS",
                "\u529b\u58eb (LUX)",
                "IGNIS (ignis)",
                "\u5b55\u4e3d\u5b9d (Motherralm)",
                "EFU (efu)",
                "\u5929\u4f7f\u4e3d\u4eba (AGEL)",
                "\u7d22\u8299\u7279 (SOFTTO)",
                "\u57ce\u91ce\u533b\u751f (Dr.Ci:Labo)",
                "\u679c\u6f3e\u7f8e\u4eba (Juice Beauty)",
                "\u67cf\u59ff (Payot)",
                "\u82ac\u8fea (FENDI)",
                "\u827e\u831c\u51ef (A.C.CARE)",
                "\u8272\u5f69\u5730\u5e26 (Colour Zone)",
                "\u7f8e\u52a0\u51c0 (maxam)",
                "TRINITYLINE",
                "\u7f8e\u7231\u65af (MEIAISI)",
                "\u6d3b\u4e4b\u80a4 (Lifecella)",
                "\u4e3d\u857e\u514b (LIERAC)",
                "\u6ee1\u5a77 (manting)",
                "\u7531\u4f60 (UP2U)",
                "\u6770\u58eb\u6d3e (Gatsby)",
                "\u73c2\u83b1\u6b27 (CLIO)",
                "CF\u836f\u5986 (cdefarma)",
                "\u60f9\u604b (Relian)",
                "MOR",
                "\u83f2\u4e3d\u6d01 (Forlisa)",
                "\u8c22\u99a5\u6625 (XIEFUCHUN)",
                "\u5c24\u7699 (Ultraceuticals)",
                "\u4f36\u91c7 (leenchie)",
                "\u767d\u5927\u592b (Doctor Bai)",
                "\u5bab\u706f",
                "\u59ff\u8bed (Gussee)",
                "\u96ea\u80a4\u83b1",
                "\u6b4c\u8bd7\u7f8e (Cosmay)",
                "\u6d77\u8574 (naturalseabeauty)",
                "Jean Paul Gaultier (\u9ad8\u7f07\u8036)",
                "\u51ef\u4f0a\u79c0 (Bio-essence)",
                "\u751f\u547d\u9633\u5149 (SUNLIFE)",
                "\u73cd\u7231 (Jane Iredale)",
                "\u4e3d\u7eaf (P&B)",
                "\u53ef\u4e1c\u7231\u897f (KOAI)",
                "\u4ed9\u4e3d\u65bd (Cellex-C)",
                "Zegna (Ermenegildo Zegna)",
                "\u7c89\u7c89\u9999",
                "\u6b4c\u5b9d\u5a77 (Cabotine)",
                "\u82cf\u83f2\u5a1c (SOFINA)",
                "\u83ab\u65af\u5947\u8bfa (Moschino)",
                "\u65af\u7279\u62c9\u9ea6\u5361\u6258\u5c3c (Stella McCartney)",
                "Fruit of the earth",
                "\u67cf\u5eb7\u6735 (Becado)",
                "\u8fd1\u6c5f\u5144\u5f1f (OMI)",
                "SkinDoctors",
                "\u81fb\u6c34 (DDF)",
                "TONYMOLY (tonymoly)",
                "\u7f8e\u8c1b\u9ad8\u4e1d (BEAUTE de KOSE)",
                "\u8349\u6728\u826f\u54c1 (Natural Selected)",
                "\u7d22\u5c3c\u4e9a\u00b7\u91cc\u57fa\u5c14 (\u7d22\u5c3c\u4e9a\u00b7\u91cc\u57fa\u5c14)",
                "\u81ea\u7136\u54f2\u7406 (philosophy)",
                "\u8d1d\u7eb3\u901a (Benetton)",
                "REVERSA",
                "Tarte (Tarte)",
                "PAUL & JOE (PAUL & JOE)",
                "label.m",
                "O.P.I (opi)",
                "\u4f0a\u838e\u73c2\u4e1d (Esanssy)",
                "J.Del Pozo",
                "\u7247\u4ed4\u7640 (PIEN TZE HUANG)",
                "\u5496\u5566\u5496\u5566 (kalakala)",
                "\u5a1c\u8fea\u5965 (nadio)",
                "\u5e15\u4e3d\u65af\u00b7\u5e0c\u5c14\u987f (Paris Hilton)",
                "AYURA (AYURA)",
                "\u59ff\u4eba (Coreana)",
                "\u5976\u5976\u7684\u767e\u8349\u5802",
                "\u67cf\u7eb7 (payven)",
                "Cyber Colors",
                "\u6b27\u679c (OTAGO)",
                "\u590f\u5a01\u5937\u70ed\u5e26 (HAWAIIAN Tropic)",
                "\u6fb3\u7f57\u739b.\u6c40 (AROMA KINGDOM)",
                "\u74e6\u4f26\u897f\u4e9a\u59ec\u5965 (Valencia Gio)",
                "\u6e29\u96c5 (YOUNGRACE)",
                "SKIN DOCTORS",
                "\u661f\u671f\u56db\u519c\u5e84 (Thursday Plantation)",
                "CYCLAX (cyclax)",
                "ROC (roc)",
                "\u963f\u5440\u5440 (Ayaya)",
                "\u604b\u7231\u9b54\u955c (Majolica Majorca)",
                "\u690d\u7269\u5de5\u574a (Plant Workshop)",
                "\u552f\u7f8e\u65bd\u7ef4\u4e9a (wmswy)",
                "Too Faced (Too Faced)",
                "REN",
                "\u83f2\u7490\u6cfd (Ferzea)",
                "SOFINA\u82cf\u83f2\u5a1c (SOFINA)",
                "\u8bfa\u8587\u96c5 (NOEVIR)",
                "ZENSATION",
                "\u4e39\u5824 (DDlady)",
                "\u7231\u742a\u7f8e (Academie)",
                "\u53ef\u8d1d\u5c14 (cobor)",
                "\u5e78\u798f\u83f2\u96c5 (Hellofaye)",
                "\u73cd\u78a7\u5609 (Methode Jeanne Piaubert)",
                "Botani (Botani)",
                "\u62a4\u857e (Ducray)",
                "\u9ad8\u59ff (COGI)",
                "\u8427\u90a6 (Chopard)",
                "\u9ad8\u67cf\u8bd7 (gopas)",
                "\u871c\u989c\u8bd7 (Miessence)",
                "\u5e7f\u5fb7\u5802 (GUANGDETANG)",
                "\u745e\u58eb\u6d3b\u6cc9 (VAQUA)",
                "Herome",
                "\u5fb7\u7f8e\u4e50\u5609",
                "Sisidyll",
                "In Fiore",
                "\u51b7\u9178\u7075 (lesening)",
                "\u96ea\u8389\u6d3e\u601d (shirleyprice)",
                "\u90d1\u660e\u660e (cheng mingming)",
                "Sukin",
                "\u827e\u871c\u5854 (Apivita)",
                "TONI&GUY",
                "\u827e\u51e1\u8fbe (Aveda)",
                "\u7ef4\u857e\u5fb7 (weleda)",
                "\u57d4\u91cc\u963f\u5b37 (\u57d4\u91cc\u963f\u5b37)",
                "\u96c5\u4e3d\u838e (Arezia)",
                "\u9999\u9601\u5a1c (XIANGGENA)",
                "Essence of Beauty",
                "Vitacreme B12",
                "\u96c6\u9999\u820d (nono)",
                "\u853b\u5409 (KOJI)",
                "VDL",
                "\u57c3\u5fb7\u00b7\u54c8\u8fea (Ed Hardy)",
                "\u59ae\u5854\u8389\u96c5 (Netharria)",
                "\u6bd4\u5ea6\u514b (BeDooK)",
                "\u53ef\u6021\u672c\u8349 (keyeherbal)",
                "\u6843\u4e3d\u4e1d (Doris)",
                "\u831c\u831c\u5c14 (The Cancer Council Australia)",
                "CathyCat (cathycat)",
                "\u534e\u7eb3\u5236\u836f (WARNER HEALTH)",
                "\u5409\u7c73\u5a03\u5a03\u513f (JIMMY make up)",
                "ECOTOOLS (ECOTOOLS)",
                "\u9ad8\u4e1d\u83f2\u5e0c\u6b27 (KOSE Fasio)",
                "\u9999\u4f3c (Say it with Scent)",
                "\u8da3\u4e50 (Cherub Rubs)",
                "Embryolisse (embryolisse)",
                "\u96ef\u827e\u5c14 (Vapour)",
                "\u975e\u51e1\u7f8e (B&F)",
                "\u5b89\u9713\u53ef\u53e4\u7279\u5c14 (annickgoutal)",
                "\u8d39\u96f7 (Ferre)",
                "\u7231\u82e5\u838e (Innoxa)",
                "\u5f3a\u751f (Johnson)",
                "\u5f97\u7f8e\u65b0 (DermaNew)",
                "\u5973\u53cb (WOMAN FRIEND)",
                "\u62c9\u82b3 (LaFang)",
                "\u5948\u5965\u6bd4 (NIOBE)",
                "ALOEMASTERCARE (aloemastercare)",
                "\u67d4\u5a77 (ROUTING)",
                "\u6b27\u8499 (oputemon)",
                "\u6b27\u8d1d\u65af (Obeis)",
                "\u53cc\u59b9\u569c (Two Girls)",
                "\u50b2\u51dd\u59ec\u4e9a (illyssla)",
                "\u6fb3\u5e0c\u4e9a (OUSIA)",
                "\u6fb3\u6d32\u60a6\u4ed9\u5b50 (Luster)",
                "\u767e\u6d1b (Bioil)",
                "KOSMEA",
                "\u7956\u5609\u513f (SOKARLE)",
                "\u7ae0\u5149101",
                "\u7eff\u4e4b\u97f5 (greencharm)",
                "VII",
                "T\u900f (Title)",
                "\u81ea\u7136\u7f8e\u4eba (ZRMR)",
                "\u829d\u6069\u5e03\u838e (jeancharlesbrosseau)",
                "\u82ae\u6735\u7f24\u7eb7",
                "\u8303\u7f8e\u8482 (FOR BEAUTY)",
                "\u831c\u5c14\u73c2 (Sheer Cover)",
                "ROXY",
                "PARRS (parrs)",
                "ModelCo (modelco)",
                "\u67cf\u6c0f (pats)"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "show": true,
            "scale": true,
            "nameLocation": "start",
            "nameGap": 15,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": 0,
            "max": 10,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5316\u5986\u54c1\u54c1\u724c\u4e3b\u8981\u5206\u5e03",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 0,
        "max": 100,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "top": "10",
        "right": "10",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "outOfRange": {
            "color": "#999"
        },
        "borderWidth": 0,
        "pieces": [
            {
                "gt": 0,
                "lte": 1,
                "color": "#096"
            },
            {
                "gt": 1,
                "lte": 2,
                "color": "#ffde33"
            },
            {
                "gt": 3,
                "lte": 4,
                "color": "#ff9933"
            },
            {
                "gt": 5,
                "lte": 6,
                "color": "#cc0033"
            },
            {
                "gt": 7,
                "lte": 8,
                "color": "#660099"
            },
            {
                "gt": 10,
                "color": "#7e0023"
            }
        ]
    },
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "yAxisIndex": 0,
            "zoomLock": false,
            "filterMode": "filter"
        },
        {
            "show": true,
            "type": "inside",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "yAxisIndex": 0,
            "zoomLock": false,
            "filterMode": "filter"
        }
    ]
};
        chart_13d65df7141e41fcb34bb17bb729db6d.setOption(option_13d65df7141e41fcb34bb17bb729db6d);
    </script>
</body>
</html>
